{% extends 'base.html.twig' %}

{% block title %}New Accounts{% endblock %}

{% block body %}
    <h1>Create new Accounts</h1>

    {{ include('admin/accounts/_form.html.twig') }}

    <a href="{{ path('app_admin_accounts_index') }}">back to list</a>
{% endblock %}
