{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}
    <h1>Create new Clients</h1>

    {{ include('admin/clients/_form.html.twig') }}

    <a href="{{ path('app_admin_clients_index') }}">back to list</a>
{% endblock %}
