{% extends 'base.html.twig' %}

{% block title %}New Invoices{% endblock %}

{% block body %}
    <h1>Create new Invoices</h1>

    {{ include('admin/invoices/_form.html.twig') }}

    <a href="{{ path('app_admin_invoices_index') }}">back to list</a>
{% endblock %}
